<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.game.dao.GameUrlMapper">
  <resultMap id="BaseResultMap" type="org.game.bean.GameUrl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="downLoad_url" jdbcType="VARCHAR" property="downloadUrl" />
    <result column="official_url" jdbcType="VARCHAR" property="officialUrl" />
    <result column="little_pic" jdbcType="VARCHAR" property="littlePic" />
    <result column="big_pic" jdbcType="VARCHAR" property="bigPic" />
    <result column="new_little_pic" jdbcType="VARCHAR" property="newLittlePic" />
    <result column="new_big_pic" jdbcType="VARCHAR" property="newBigPic" />
    <result column="poster" jdbcType="VARCHAR" property="poster" />
    <result column="low_pic" jdbcType="VARCHAR" property="lowPic" />
    <result column="blog_pic" jdbcType="VARCHAR" property="blogPic" />
    <result column="common_pic" jdbcType="VARCHAR" property="commonPic" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, downLoad_url, official_url, little_pic, big_pic, new_little_pic, new_big_pic, 
    poster, low_pic, blog_pic, common_pic
  </sql>
  <select id="selectByExample" parameterType="org.game.bean.GameUrlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gameurl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gameurl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gameurl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.game.bean.GameUrlExample">
    delete from gameurl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.game.bean.GameUrl">
    insert into gameurl (id, downLoad_url, official_url, 
      little_pic, big_pic, new_little_pic, 
      new_big_pic, poster, low_pic, 
      blog_pic, common_pic)
    values (#{id,jdbcType=INTEGER}, #{downloadUrl,jdbcType=VARCHAR}, #{officialUrl,jdbcType=VARCHAR}, 
      #{littlePic,jdbcType=VARCHAR}, #{bigPic,jdbcType=VARCHAR}, #{newLittlePic,jdbcType=VARCHAR}, 
      #{newBigPic,jdbcType=VARCHAR}, #{poster,jdbcType=VARCHAR}, #{lowPic,jdbcType=VARCHAR}, 
      #{blogPic,jdbcType=VARCHAR}, #{commonPic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.game.bean.GameUrl">
    insert into gameurl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="downloadUrl != null">
        downLoad_url,
      </if>
      <if test="officialUrl != null">
        official_url,
      </if>
      <if test="littlePic != null">
        little_pic,
      </if>
      <if test="bigPic != null">
        big_pic,
      </if>
      <if test="newLittlePic != null">
        new_little_pic,
      </if>
      <if test="newBigPic != null">
        new_big_pic,
      </if>
      <if test="poster != null">
        poster,
      </if>
      <if test="lowPic != null">
        low_pic,
      </if>
      <if test="blogPic != null">
        blog_pic,
      </if>
      <if test="commonPic != null">
        common_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="downloadUrl != null">
        #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="officialUrl != null">
        #{officialUrl,jdbcType=VARCHAR},
      </if>
      <if test="littlePic != null">
        #{littlePic,jdbcType=VARCHAR},
      </if>
      <if test="bigPic != null">
        #{bigPic,jdbcType=VARCHAR},
      </if>
      <if test="newLittlePic != null">
        #{newLittlePic,jdbcType=VARCHAR},
      </if>
      <if test="newBigPic != null">
        #{newBigPic,jdbcType=VARCHAR},
      </if>
      <if test="poster != null">
        #{poster,jdbcType=VARCHAR},
      </if>
      <if test="lowPic != null">
        #{lowPic,jdbcType=VARCHAR},
      </if>
      <if test="blogPic != null">
        #{blogPic,jdbcType=VARCHAR},
      </if>
      <if test="commonPic != null">
        #{commonPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.game.bean.GameUrlExample" resultType="java.lang.Long">
    select count(*) from gameurl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gameurl
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.downloadUrl != null">
        downLoad_url = #{record.downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.officialUrl != null">
        official_url = #{record.officialUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.littlePic != null">
        little_pic = #{record.littlePic,jdbcType=VARCHAR},
      </if>
      <if test="record.bigPic != null">
        big_pic = #{record.bigPic,jdbcType=VARCHAR},
      </if>
      <if test="record.newLittlePic != null">
        new_little_pic = #{record.newLittlePic,jdbcType=VARCHAR},
      </if>
      <if test="record.newBigPic != null">
        new_big_pic = #{record.newBigPic,jdbcType=VARCHAR},
      </if>
      <if test="record.poster != null">
        poster = #{record.poster,jdbcType=VARCHAR},
      </if>
      <if test="record.lowPic != null">
        low_pic = #{record.lowPic,jdbcType=VARCHAR},
      </if>
      <if test="record.blogPic != null">
        blog_pic = #{record.blogPic,jdbcType=VARCHAR},
      </if>
      <if test="record.commonPic != null">
        common_pic = #{record.commonPic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gameurl
    set id = #{record.id,jdbcType=INTEGER},
      downLoad_url = #{record.downloadUrl,jdbcType=VARCHAR},
      official_url = #{record.officialUrl,jdbcType=VARCHAR},
      little_pic = #{record.littlePic,jdbcType=VARCHAR},
      big_pic = #{record.bigPic,jdbcType=VARCHAR},
      new_little_pic = #{record.newLittlePic,jdbcType=VARCHAR},
      new_big_pic = #{record.newBigPic,jdbcType=VARCHAR},
      poster = #{record.poster,jdbcType=VARCHAR},
      low_pic = #{record.lowPic,jdbcType=VARCHAR},
      blog_pic = #{record.blogPic,jdbcType=VARCHAR},
      common_pic = #{record.commonPic,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.game.bean.GameUrl">
    update gameurl
    <set>
      <if test="downloadUrl != null">
        downLoad_url = #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="officialUrl != null">
        official_url = #{officialUrl,jdbcType=VARCHAR},
      </if>
      <if test="littlePic != null">
        little_pic = #{littlePic,jdbcType=VARCHAR},
      </if>
      <if test="bigPic != null">
        big_pic = #{bigPic,jdbcType=VARCHAR},
      </if>
      <if test="newLittlePic != null">
        new_little_pic = #{newLittlePic,jdbcType=VARCHAR},
      </if>
      <if test="newBigPic != null">
        new_big_pic = #{newBigPic,jdbcType=VARCHAR},
      </if>
      <if test="poster != null">
        poster = #{poster,jdbcType=VARCHAR},
      </if>
      <if test="lowPic != null">
        low_pic = #{lowPic,jdbcType=VARCHAR},
      </if>
      <if test="blogPic != null">
        blog_pic = #{blogPic,jdbcType=VARCHAR},
      </if>
      <if test="commonPic != null">
        common_pic = #{commonPic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.game.bean.GameUrl">
    update gameurl
    set downLoad_url = #{downloadUrl,jdbcType=VARCHAR},
      official_url = #{officialUrl,jdbcType=VARCHAR},
      little_pic = #{littlePic,jdbcType=VARCHAR},
      big_pic = #{bigPic,jdbcType=VARCHAR},
      new_little_pic = #{newLittlePic,jdbcType=VARCHAR},
      new_big_pic = #{newBigPic,jdbcType=VARCHAR},
      poster = #{poster,jdbcType=VARCHAR},
      low_pic = #{lowPic,jdbcType=VARCHAR},
      blog_pic = #{blogPic,jdbcType=VARCHAR},
      common_pic = #{commonPic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>